<ul class="compass">
  <i class="fa fa-question"></i>
  <li>click on a branch to navigate further in the tree</li>
  <li>Hover over a branch to see the story up until that point in the panel to the right</li>
  <li>When navigating the tree you can always go back or reset with the top two nodes</li>
</ul>  
