<div class="instruction closed">
  <div class="instructions-wrapper">
    <ul>
      <li class="completed" data-toggle="tooltip" data-placement="bottom" title="Each story is started by a single person and shared with a few friends. Create an account to start your own.">
        <i class="fa fa-envelope"></i>
        <div class="step">1</div>
        <small>get invited to a story</small>
      </li>
      <li data-toggle="tooltip" data-placement="bottom"  title="When you contribute, you see the entire story up until your invitation. Simply add to it.">
        <i class="fa fa-pencil"></i>
        <div class="step">2</div>
        <small>contribute to it</small>
      </li>
      <li data-toggle="tooltip" data-placement="bottom" class="next" title="Watch the story grow in all sorts of ways by inviting friends. Each friend you invite will take your story in a different direction. If you don't invite friends, the story will die.">
        <i class="fa fa-code-fork"></i>
        <div class="step">3</div>
        <small>invite others and watch it grow</small>
      </li>
    </ul> 
    <br clear="both">
  </div>
</div> 