<%= @history[:title] if @history[:title] %>
</h2>
<div class="content">
  <%= @history[:content] %>
</div>

<div class="vis-container">

</div> 
<div class="story-panel open">
  <div class="content"><span class="history"><%= @history[:content] %> </span><span class="future"></span></div> 
</div>