<% @trees.each do |tree| %>


<div class="panel panel-default">
  <div class="panel-heading"><%= link_to tree.title, tree_path(tree) %></div>
  <div class="panel-body">
    
  </div>
  
</div>


<% end %>

<% if @trees.empty? %>
<p>It looks like you haven't started or contributed to any trees. Why don't you <%= link_to "create one?", new_tree_path %></p>
<% end %>