 <section class="intro"> 
    <h2>Welcome#index</h2>
    <p>PBR duis commodo pellentesque tofu eros non lectus food truck tempus lorem molestie indie adipiscing urna curabitur viral nam. Commodo leo PBR ultricies ligula fusce +1 sapien risus lorem DIY nulla curabitur quam foodie enim. Urna mattis indie orci undefined eu +1 lectus integer tellus farm-to-table eu maecenas nec Portland sapien eu odio Toms. Sit amet donec PBR massa sed ultricies fixie leo pharetra maecenas brunch sagittis commodo gravida wire-rimmed glasses.</p>
    <%= link_to "get started", new_user_registration_path, :class => "btn btn-primary btn-lg" %>
</section>

<%= render "shared/show" %> 