<section class="intro"> 
    <p>Start a story and watch it grow</p>
    <%= link_to "Create a story", new_user_registration_path, :class => "btn btn-primary btn-lg" %>
    <button id="explore" class="btn btn-link white">Exlore a story</button>
</section>


<section id="demo">
  <%= render "shared/show" %> 
</section>

