<section class="intro"> 
    <p>Start a story and watch it grow</p>
    <%= link_to "Create a story", new_user_registration_path, :remote => true, :class => "btn btn-primary btn-lg" %>
    <button id="explore" class="btn btn-link white">Learn more</button>
</section>
<div class="instruction gray">
  <div class="instructions-wrapper">
    <ul>
      <li  data-toggle="tooltip" data-placement="top" title="Each story is started by a single person and shared with a few friends. Create an account to start your own.">
        <i class="fa fa-envelope"></i>
        <div class="step">1</div>
        <small>get invited to a story</small>
      </li>
      <li data-toggle="tooltip" data-placement="top" title="When you contribute, you see the entire story up until your invitation. Simply add to it.">
        <i class="fa fa-pencil"></i>
        <div class="step">2</div>
        <small>contribute to it</small>
      </li>
      <li data-toggle="tooltip" data-placement="top" class="next" title="Watch the story grow in all sorts of ways by inviting friends. Each friend you invite will take your story in a different direction. If you don't invite friends, the story will die.">
        <i class="fa fa-code-fork"></i>
        <div class="step">3</div>
        <small>invite others and watch it grow</small>
      </li>
    </ul> 
    <br clear="both">
  </div>
</div> 

 <section id="demo">
    <%= render "shared/compass" %>
    <svg width="650" height="400" class="vis"></svg>
    <%= render "shared/show" %> 

 </section> 

  

