p {
  font-family: georgia !important;
  font-size: 16px !important;
}

.push-nav {
  height: 53px;
  width: 100%;
}

nav {
  .glyphicon {
    float: left;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5px;
    margin-left: 20px;
    color: white;
    text-shadow: 0px -1px 0px #374683;
  }


#logo {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: rgba(16,4,71,1);
}


  ul

  .dropdown-menu li a {
    color: #012530 !important;
  }  
}

.content {
  margin: auto;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;


}

.btn.btn-success {
    background: none !important;
    border: 1px solid rgba(16,4,71,1) !important;
    color: rgba(16,4,71,1) !important;

    &:hover {
      background: rgba(16,4,71,1) !important;
      color: white !important;
    } 

    &:active {
      background: rgba(16,4,71,.7) !important;
      color: white !important;
    } 
  }

