nav {
  .glyphicon {
    float: left;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5px;
    margin-left: 20px;
    color: white;
    text-shadow: 0px -1px 0px #374683;
  }

  ul li {
  
    a.navbar-link.first {
      padding-left: 60px;
    }

    } 
}