p {
  font-family: georgia !important;
  font-size: 16px !important;
}

.push-nav {
  height: 53px;
  width: 100%;
}

nav {
  .glyphicon {
    float: left;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5px;
    margin-left: 20px;
    color: white;
    text-shadow: 0px -1px 0px #374683;
  }


#logo {
  font-family: 'Lobster', cursive;
  color: black;
  font-size: 25px;
}


  ul li {
    
    a.navbar-link.first {
      padding-left: 60px;

    }



   }

  .dropdown-menu li a {
    color: #012530 !important;
  }  
}

.content {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

