.story-panel {
  position: fixed;
  max-width: 400px;
  width: 33%;
  overflow: scroll;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 1px solid #ccc;
  background: #f7f7f7;
  right: -500px;
  -webkit-transition: right 1s;
     -moz-transition: right 1s;
          transition: right 1s;

  &.open {
    right: 0px;
  }

  .content {
    background: white;
    margin: 20px;
    padding: 20px;
    box-sizing:border-box;
    margin-top: 80px;
    height: 100%;
  
    .future {
      color: #ccc;
    }
  }

}

#new_tree {
  max-width: 600px;
  margin: auto;
  
  textarea {
    min-height: 400px;
    resize: none;
  }
}

.container {
  max-width: 960px;
}

svg {
  padding: 20px;
  width: 66%;
  display:block;
}



