// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intro {
  width: 70%;
  padding: 20px;
  height: 600px;
}


// .background-svg {
//   position: absolute;
//   top: 0;
//   bottom: 0; 
//   width: 100%;
//   z-index: -1;
//   background: #f7f7f7;
// }


#demo .story-panel {
  position: absolute;
  top: 600px;
  height: 600px;
  width: 50%;
  overflow: hidden;
  padding-bottom: 20px;
}


#demo .story-panel .content {
  height: 90%;
}