// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.intro {
  float: right;
  width: 70%;
  padding: 20px;
  background: rgba(96, 58, 104, .1);
}

.background-svg {
  position: absolute;
  top: 0;
  bottom: 0; 
  width: 100%;
  z-index: -1;
  background: #f7f7f7;
}
