// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {

  .btn {
    margin: 10px 10px;
  }
}

.intro {
  width: 50%;
  padding: 20px; 
  max-width: 500px; 
  color: white;
  position: absolute;
  top: 70px;
  margin: auto;
}


.btn.white {
  color: white !important;
}

.btn-primary {
  &:hover {
    background: white;
  }
}



.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important;
}


svg.bg {
  padding-top: 100px;
  height: 700px;
  width: 100%;
  // needs latest Compass, add '@import "compass"' to your scss
background: rgb(19,0,76); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(19,0,76,1) 0%, rgba(17,0,68,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(19,0,76,1)), color-stop(100%,rgba(17,0,68,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(19,0,76,1) 0%,rgba(17,0,68,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(19,0,76,1) 0%,rgba(17,0,68,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(19,0,76,1) 0%,rgba(17,0,68,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(19,0,76,1) 0%,rgba(17,0,68,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13004c', endColorstr='#110044',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .node {
    fill: darken(#ACBD86, 30%);
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    fill: none;
    stroke: white;
}

}

#demo {
  position: relative;
}

#demo svg {
  float: left;
}

#demo .story-panel {
  position: static;
  float:right;
  height: 600px;
  padding-bottom: 20px;
}


#demo .story-panel .content {
  height: 90%;
}